@model  List<Disciplina>

@{
    ViewBag.Title = "Disciplina";
    Layout = "";
}

@*<p>@ViewBag.idAluno</p>
<p>@ViewBag.nomeAluno</p>*@

<table class="table table-striped">
    <thead>
        <tr>
            <td>Cod . Disciplina</td>
            <td>Aluno</td>
            <td>Disciplina</td>
            <td>Semestre</td>
            <td>Curso</td>
            <td>Gerenciar</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var disciplina in @Model) {
            <tr>
                <td>@disciplina.IdDisciplina</td>
                <td>@ViewBag.nomeAluno</td>
                <td>@disciplina.Nome</td>
                <td>@disciplina.Semestre</td>
                <td>@disciplina.Curso</td>
                <td>
                    <button onclick="loadDoc('@Url.Action("index","Disciplina", new { idAluno = @disciplina.IdAluno, idDisciplina = @disciplina.IdDisciplina })','POST')" class="btn btn-danger">Excluir</button>
                </td>
              
            </tr>
        }

    </tbody>
</table>

