@model List<Aluno>
@{
    ViewBag.Title = "Aluno";

}

<br />
<div class="list-group">
    <a href="#" class="list-group-item active">
        Aluno
    </a>
    @foreach (var aluno in @Model) {
        // /Disciplina/Index?idAluno=@aluno.IdAluno&nomeAluno=@aluno.Nome">@aluno.Nome
        <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal"
           onclick="loadDoc('@Url.Action("index","Disciplina", new { IdAluno = @aluno.IdAluno, nomeAluno = @aluno.Nome })')">@aluno.Nome</a>
    }
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Disciplinas</h4>
            </div>
            <div class="modal-body">
                <div id="demo"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        
            </div>
        </div>
    </div>
</div>



